# FOCUS analysis

In [7]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

- found 1703 LD independent blocks in the genome
- for each block, 1/(#GENCODE genes) assign prior to each genes in the block/region
- if no GWAS sig SNP in the block, skip (extra analysis if want to know new signals discovered by TWAS, not GWAS)
- if there is GWAS SNPs, find common genes to be fine-mapped, i.e. have eQTL weights, in BED file
- run TWAS, fine-map these genes. Assign a PIP for each. Rank by PIP and generate CS

**results**
- 161 GWAS blocks, 161 LD blocks that have SCZ GWAS SNP
- found CS for 154 of these blocks?
- 563 unique genes in all CS. Why same gene in CS of different blocks?
- CS on averge 3.6 genes, max 22 genes
- each block has a NULL.MODEL row, many are in CS? Not sure what these are. Ignore for now

In [1]:
dat <- read.table("../results/gene_all_LDREF_rn/FOCUS/all_1-22.focus.tsv", header = T)

In [3]:
head(dat)

  block               ens_gene_id     ens_tx_id mol_name   tissue ref_name
1 1:1892607-1:3582736 NULL.MODEL      NA        NULL       NA     NA
2 1:1892607-1:3582736 ENSG00000162585 NA        FAAP20     brain  all
3 1:1892607-1:3582736 AL109917.1      NA        AL109917.1 brain  all
4 1:1892607-1:3582736 ENSG00000116213 NA        WRAP73     brain  all
5 1:1892607-1:3582736 ENSG00000189409 NA        MMP23B     brain  all
6 1:1892607-1:3582736 ENSG00000189339 NA        SLC35E2B   brain  all
  type           chrom tx_start tx_stop block_genes trait inference_pop1
1 NULL           1          NA       NA 47          trait NA
2 protein_coding 1     2144158  2144159 47          trait susie
3 NA             1     1822909  1822910 47          trait susie
4 protein_coding 1     3569324  3569325 47          trait enet
5 protein_coding 1     1567541  1567542 47          trait susie
6 protein_coding 1     1624233  1624234 47          trait enet
  inter_z_pop1 cv.R2_pop1 cv.R2.pval_pop1 ldregion_pop1       twas_z_pop1
1 NA                   NA           NA    1:1900232-1:3580574  0.00
2 NA           0.01687136 6.390942e-04    1:1900232-1:3580574 -3.09
3 NA           0.01288840 2.520732e-03    1:1900232-1:3580574  3.05
4 NA           0.11710477 6.120872e-19    1:1900232-1:3580574 -2.65
5 NA           0.06154742 1.690023e-10    1:1900232-1:3580574 -2.95
6 NA           0.16015297 8.228694e-26    1:1900232-1:3580574 -2.94
  pips_pop1 in_cred_set_pop1
1 0.322     1
2 0.187     1
3 0.178     1
4 0.134     1
5 0.128     1
6 0.122     1

In [4]:
dim(dat)
length(unique(dat$block))
sum(dat$ens_gene_id == "NULL.MODEL")

[1] 2205   20

[1] 161

[1] 161

In [10]:
sum(dat$ens_gene_id == "NULL.MODEL" & dat$in_cred_set_pop1 == 1)

[1] 86

In [12]:
dat <- dat %>% filter(ens_gene_id != "NULL.MODEL")

In [13]:
dat_cs <- dat %>% filter(in_cred_set_pop1 == 1)

In [15]:
dim(dat_cs)
length(unique(dat_cs$ens_gene_id))
length(unique(dat_cs$block))

[1] 585  20

[1] 563

[1] 154

In [16]:
563/154

[1] 3.655844

In [17]:
sum(dat_cs$pips_pop1)

[1] 161.721

In [18]:
write.table(dat_cs, "../results/gene_all_LDREF_rn/FOCUS/all_1-22.focus.CS.tsv", col.names = T, row.names = F, quote = F, sep = "\t")

In [24]:
dat_cs %>% count(block) %>% arrange(desc(n)) %>% head(5)

  block                   n
1 5:139265072-5:140645971 22
2 17:43056905-17:45876022 18
3 20:61301855-20:62190180 14
4 15:84260468-15:86652905 13
5 8:144236881-8:146303867 13